<div class="container col-md-8 text-center mt-4">
    <a id="greenwich" href="https://www.facebook.com/GreenwichVietnam/">
        <h4 id="greenwich">Welcome to Greenwich University !</h4>
    </a>
    <img id="greenwich" src="~/images/greenwich.jpg"  width="80%" height="80%"/>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/tpwc7Oe8fak" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
