@model demoweb.Models.Category;

<div class="container col-md-6 text-center mt-3">
    <h3 class="text text-danger"> @Model.Name</h3>
    <div class="row mt-3">
        <div class="col">
            <img src="@Model.Image" width="300" height="300">
        </div>
        <div class="col">
            @foreach (var product in Model.Products)
           {
               <h5>
                   <a asp-controller="Product" asp-action="Detail" asp-route-id="@product.Id">
                        @product.Name
                   </a>
               </h5>
           }
        </div>
    </div>  
</div>