body {
    background-color: bisque;
}
h1 {
    color: red;
}
h2 {
    font-style: italic;
    text-decoration: underline;
    font-weight:normal;
}

img#gw {
    border-radius: 30%;
}

a:hover {
    font-size: 150%;
    color: brown;
}