<h1> Greenwich University </h1>
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTmnv5xUl0ua_sysmQ-8txlnECR6IRX0x5HTw&usqp=CAU" />
<br />
<h2> Seagames 31</h2>
<img src="~/images/seagame.jpg" />
<br />
<h3>
    <a href="https://google.com.vn">Google</a>
</h3>

<h2>
    <a asp-controller="Hello" asp-action="Index">Hello World</a>
</h2>

