<div class="container-fluid col-md-8 text-center">
	<h1>Welcome to Greenwich University</h1>
	<img id="gw" src="~/images/greenwich.jpg" />
	<br />
	<a href="https://cms.greenwich.edu.vn">CMS Greenwich</a>
</div>