<h1>Hello World !</h1>
<h2>This is my first ASP.NET Core webpage</h2>
<a class="btn btn-outline-secondary" onclick="return alert('Welcome to my website !');"> Click here </a>
<table class="table table-primary mt-3">
    <tr>
        <th>Mobile No.</th>
        <th>Mobile Name</th>
        <th>Mobile Price</th>
        <th>Mobile Image</th>
        <th>Menu</th>
    </tr>
    <tr>
        <td>1</td>
        <td>iPhone 13 Pro Max</td>
        <td>1200 $</td>
        <td>
            <img src="~/images/iphone.png" width="100" height="120" />   
        </td>
        <td>
            <a class="btn btn-warning" href="#">Edit</a>
            <a class="btn btn-danger" href="#"
            onclick="return confirm('Are you sure to delete this mobile ?');"
            >Delete</a>
        </td>
    </tr>
    <tr>
        <td>2</td>
        <td>Samsung Galaxy S22 Ultra</td>
        <td>1100 $</td>
        <td>
            <img src="~/images/samsung.jpg" width="100" height="120" />      
        </td>
        <td>
            <a class="btn btn-warning" href="#">Edit</a>
            <a class="btn btn-danger" href="#"
            onclick="return confirm('Are you sure to delete this mobile ?');"
            >Delete</a>
        </td>
    </tr>
</table>
<br /><br />
<img src="https://upload.wikimedia.org/wikipedia/commons/3/37/Hanoi_skyline_at_night.jpg" />
<br /><br />
<iframe width="1024" height="768" src="https://www.youtube.com/embed/-ZmdV3SlxqE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>