<form action="Person/Hello" method="post">
    <div class="form-group">
        <h6>Enter full name: </h6>
        <input class="form-control" required type="text" name="Name" />
    </div>
    <div class="form-group">
        <h6>Enter year of birth: </h6>
        <input class="form-control" required min="1950" max="2015" type="number" name="Birthyear" />
    </div>
    <div class="form-group">
        <h6>Select gender:</h6>
        <input type="radio" value="Nam" name="Gender" />Male
        <input type="radio" value="Nữ" name="Gender"/>Female
    </div>
    <div class="form-group">
        <h6>Select education: </h6>
        <select name="Education">
            <option value="Cao Đẳng">College</option>
            <option value="Đại học">University</option>
            <option value="Thạc sỹ">Master</option>
            <option value="Tiến sỹ">Doctor</option>
        </select>
    </div>
    <input type="submit" value="Submit" />
</form>