@model web4.Models.Student

<div class="container col-md-5 text-center">
    <div class="row">
        <div class="col" colspan="2">
            <h1>Student Details</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h3>Student Id</h3>
        </div>
        <div class="col">
            <h3>@Model.Id</h3>
        </div>
    </div>
    
     <div class="row">
        <div class="col">
            <h3>Student Name</h3>
        </div>
        <div class="col">
            <h3>@Model.Name</h3>
        </div>
    </div>

     <div class="row">
        <div class="col">
            <h3>Student Email</h3>
        </div>
        <div class="col">
            <h3>@Model.Email</h3>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <h3>Student Address</h3>
        </div>
        <div class="col">
            <h3>@Model.Address</h3>
        </div>
    </div>
</div>
