<div class="col-md-6 text-center mt-3"> 
    <h1 class="text text-success mt-3">Add new person</h1>
    <form action="output" method="post">
        <div class="form-group">
            <label for="id">Person ID</label>
            <input class="form-control" type="number" name="Id" placeholder="Enter person id" />
       </div>
       <div class="form-group">
           <label for="name">Person Name</label>
           <input class="form-control"  type="text" name="Name" placeholder="Enter person name"/>
       </div>
       <div class="form-group">
            <label for="email">Person Email</label>
            <input class="form-control" type="email" name="Email" placeholder="Enter person email" />
       </div>
       <div class="form-group">
           <label for="address">Person Address</label>
           <input class="form-control" type="text" name="Address" placeholder="Enter person address"/>
       </div>
       <input type="submit" value="Add" />
    </form>
</div>