<div class="container col-md-6 text-center">
	<div class="row">
		<div class="col">
			<img src="~/images/sports/football.jpg" width="200" height="180"> 
		</div>
		<div class="col">
			<h1>@ViewBag.Sport1</h1>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<img src="~/images/sports/swimming.jpg" width="200" height="180"> 
		</div>
		<div class="col">
			<h1>@ViewBag.Sport2</h1>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<img src="~/images/sports/billard.jpg" width="200" height="180"> 
		</div>
		<div class="col">
			<h1>@ViewBag.Sport3</h1>
		</div>
	</div>

</div>